

.arrows{
   width: 28px;
   height: 28px;
   border-color: #000;
   position: absolute;
   top: 50%;
   margin-top: -31px;
   z-index: 2;
}

.prev{
   border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(45deg);
   left: 30px;
}
   
.next{
   border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(-135deg);
   right: 30px;
 }